* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    margin: auto;
}

.container {
    max-width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container .web,
.container .mobile {
    color: white;
    width: 200px;
    height: 60px;
    background-color: orange;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

i {
    color: black;
}